body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f9;
  margin: 0;
}

header {
  background-color: #1e293b; 
  color: #ffffff; 
  text-align: center; 
  padding: 30px; 
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  text-decoration: none;
}

nav a {
    text-decoration: none;
}

main {
   max-width: 800px;
   margin: 20px auto;
}

article {
    background-color: white; /* Latar putih */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

article img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    main {
        padding: 10px;
    }
}
 footer {
    text-align: center;
 }